/* Color Designs Sourced from khroma.co */
/* This version pulls from 02 Activity 01 */
*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #13293d;
    padding: 60px; /* makes the box much larger and fills in the white space */
    text-align: center;
    color: #fff;
}

nav {
    display: flex;
    background-color: #d8a47f;
}

main {
    display: flex; /* This made the aside section and My Work section side by side 70/30 */
}

aside {
    flex: 30%; /* changed About Me section width to 30% */
    background-color: #b9c6ae;
    padding: 20px; /* grew the box to add more color to sides and bottom of section */
    flex-wrap: wrap; /* no noticable differance at this time */
}

section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
}