/* Color Designs Sourced from khroma.co */
body {
    font-family:Arial, Helvetica, sans-serif;
    ;
}

header, footer {
    text-align: center;
    background-color: #264B75;
    color: #FF641C;
    padding: 1%;
}

nav {
    background-color: azure;
}

nav a {
    text-align: center;
}

ul {
    display: flex;
    text-align: center;
}

img {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0.5%;
}

h2 {
    margin-top: 0.5%;
}

