/* This version pulls from 02 Activity 01, 03, 05, and mini-project */
* {
    box-sizing: border-box;
}

body {
    font-family: Inter,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    margin: 0;
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: #343434;
}

header,
footer {
    background: #1b1b1b;
    padding: 20px;
    text-align: center;
    color: #8cb4ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: #8cb4ff;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5,
h6, {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

nav {
    display: flex;
    padding: 1%;
    background-color: #4e4e4e;
    color: #8cb4ff;
}

nav ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    min-width: 50%;
}

nav a {
    color: #8cb4ff;
    font-weight: bold;
    text-decoration: none;
}

/*Why did display block get rid of the bullets. I'm happy they did, but I don't understand */
li {
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
}

img {
  width: 100%;
}

header img {
  width: 15%; 
  height: 15%; 
}

aside {
    width: 30%;
    background-color: #343434;
    color: #8cb4ff;
    padding: 20px;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #343434;
    color: #8cb4ff;
    padding: 30px;
    justify-content: space-between;
}

/* Image Placeholders */
.sample-img {
    background-color: #fff;
    width: 25%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
}

.project-main {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}
.project-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
.justify-center {
    justify-content: center;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
.project-main-image {
  
}

.project-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    padding: 2rem;
    color: #8cb4ff;
    outline: 5px ridge #8cb4ff;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
    min-width: 275px;
    background-color: #1b1b1b;
  }

  .project-card .project-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #1b1b1b;
    color: #8cb4ff;
    border: 2px solid #8cb4ff;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }

.project-card:hover,
.project-card:hover .project-header {
  box-shadow: inset 0px 0px 8px #8cb4ff, 0 0 15px #8cb4ff;
  transform: translateY(-10px);
}

.project-card .project-block {
    flex-grow: 1;
  }

.project-card pre {
  white-space: pre-wrap;
  overflow: auto;
  tab-size: 4;
  padding: 1.2rem 1rem;
  color: var(--gin);
  border-radius: 25px;
  background-image: linear-gradient(
    rgba(236, 106, 102, 0.411) 0%,
    rgba(236, 155, 102, 0.6) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card pre:active {
    user-select: all;
  }

.project-slide {
  max-width: 26%;
  min-width: 22%;
}

a:link {
  text-decoration: none;
  color: #8cb4ff;
}

a:visited {
  text-decoration: none;
  color: #8cb4ff;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      flex-wrap: wrap;
    }

    aside {
      /* order: 2; */
      width: 100%;
    }
    #my-work {
      width: 100%;
    }
  }

  
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 100%;
    }
  
    .project-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }